
*{
    font-family: Arial, sans-serif;
	margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    border: 1px solid black;
    border-radius: 10px;
    height: 100vh;
    width: 100%;
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #0a0a0a, #3a4452);
    border: none;

}
.calci_container{
    border: 1px solid black;
    width: 500px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgb(109, 107, 107);
    border: none;

}
.input_container{
    border: 1px solid black;
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    background: linear-gradient(45deg, #0a0a0a, #3a4452);
    border: none;
    box-shadow: 0px 0px 0px 0px rgb(219, 214, 214);


}
#input_display{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid grey;
    /* box-shadow: 0px 0px 10px 0px rgb(219, 214, 214); */
    padding: 10px;
    font-size: 50px;
    text-align: right;
    background: linear-gradient(45deg, #0a0a0a, #3a4452);
    border: none;
    color: white;


}
.button_container{
    border: 1px solid black;
    height: 500px;
    width: 400px;
    min-width: 400px;
    /* display: flex; */
    justify-content: center;
    /* align-items: center; */
    margin: 15px 0px 0px 0px;
    border-radius: 10px;
    padding: 10px 0px 0px 0px;
    /* flex-wrap: ; */
    background: linear-gradient(45deg, #0a0a0a, #3a4452);
    border: none;

}
.row{
    padding: 7px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    border: none;

}
.btn{
    height: 80px;
    width: 80px;
    padding: 5px;
    border-radius: 100px;
    font-size: 18px;
    border: none;
    color: white;
    background: linear-gradient(45deg, #0a0a0a, #3a4452);
}
